<div class="topper"style="background-color:black;">
    <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
   <!--<img class="logo" src={logo}  class="img-fluid d-block mx-auto mt-5" width="151px" height="40px" alt=""
    />-->
   </div>
   <div class="col-sm-4"></div>
 </div>
 
   <div class="row m-5">
   <div class="col-sm-2"></div>
   <div class="col-sm-8">
   <form class="m-4">

   <input 
       class="form-control  mb-4"
         type="text"
         placeholder="Name"
         style="background-color: black;"
       />
       
       
 
 
  <div class="inputWithIcon text-white">
    <input 
          
          class="form-control"
          type="text"
          placeholder="Mobile Number"
          maxLength="10"
          style="background-color: black;"
        />
  </div>
  <div>
  
  <div class="b1">
    
    <a routerLink="otp"style="text-decoration:none;"> <button type="submit"   class="btn btn-md btn-success    d-block mx-auto  m-5">PROCEED</button></a>
    </div>
    
  
  
  </div>
  </form>
   </div>
   <div class="col-sm-2"></div>
 </div>
 </div>
 

<p class="para text-center text-white ">Connect with us at</p>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 ">
        <div class="d-flex justify-content-center" style="">
        
       <!---- <a href="#" ><img src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"style="color: blanchedalmond;" /></a>
        <a href="https://instagram.com/tkatal.official?utm_medium=copy_link" class="ml-2 mr-2"style="color: blanchedalmond;"><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/></a>
        <a href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png"/></a>-->
        <i class="fa fa-fire"style="color:#ff3e30;font-size:40px;"></i>
        </div>
      
        </div>
        <div class="col-sm-4"></div>
      </div>
     
      